/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
  font-family: Arial, sans-serif;
  font-size: 2rem;
  line-height: 1.5;

  background-color: rgb(241, 237, 216);
}
.container{
  max-width: 1920px;
  margin: 0rem auto;
  padding: 0rem auto;
}
@media (max-width:1920px){
  .container{
    max-width: 820px;
  }
}
@media (max-width:820px){
  .container{
    max-width: 320px;
    font-size: 1rem;
    line-height: 1;
  }
}

.bayan_title{
  display: block;
  cursor: pointer;
}
.bayan_title:hover {
  color: rgb(1, 161, 161);

  transition: .2s
  ease-out;
}

.bayan_input{
  width: 0;
  height: 0;

  -webkit-apperance: none;
  appearance: none;

  position: absolute;
}
.bayan_input:hover + .bayan_img{
  display: block;
}
.bayan_input:checked + .bayan_img{
  display: block;
}

.bayan_img{
 display: none;

 width: 19rem;
 height: 15rem;

 margin: auto;
}

img{
  height: 15rem;
  width: 15rem;
}